<div class="container-fluid page">
  <div class=" d-flex page__box mt-3 page__content shadow p-3 position-relative">
    <div class="app-content">
      <div class="projects-section">
        <div class="projects-section-header">
          <p>Thông báo nhanh</p>
          <p class="time">{{today|date:'dd-MM-yyyy'}}</p>
        </div>
        <div class="project-boxes jsGridView">
          <div class="project-box-wrapper">
            <div class="project-box" style="background-color: #ffea7f;">
              <div class="project-box-content-header">
                <h3>16</h3>
                <p class="box-content-header">Chờ xử lý</p>
                <p class="box-content-subheader">Cancel</p>
              </div>
            </div>
          </div>
          <div class="project-box-wrapper">
            <div class="project-box" style="background-color: #93d4fc;">
              <div class="project-box-content-header">
                <h3>8</h3>
                <p class="box-content-header">Đang giao hàng</p>
                <p class="box-content-subheader">Cancel</p>
              </div>
            </div>
          </div>
          <div class="project-box-wrapper">
            <div class="project-box" style="background-color: #adff9a;">
              <div class="project-box-content-header">
                <h3>24</h3>
                <p class="box-content-header">Đã hoàn thành</p>
                <p class="box-content-subheader">Cancel</p>
              </div>
            </div>
          </div>
          <div class="project-box-wrapper">
            <div class="project-box" style="background-color: #ffd3e2;">
              <div class="project-box-header">
                <span>December 10, 2020</span>
                <div class="more-wrapper">
                  <button class="project-btn-more">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-more-vertical">
                      <circle cx="12" cy="12" r="1" />
                      <circle cx="12" cy="5" r="1" />
                      <circle cx="12" cy="19" r="1" /></svg>
                  </button>
                </div>
              </div>
              <div class="project-box-content-header">
                <p class="box-content-header">UI Development</p>
                <p class="box-content-subheader">Prototyping</p>
              </div>
              <div class="box-progress-wrapper">
                <p class="box-progress-header">Progress</p>
                <div class="box-progress-bar">
                  <span class="box-progress" style="width: 20%; background-color: #df3670"></span>
                </div>
                <p class="box-progress-percentage">20%</p>
              </div>

            </div>
          </div>
          <div class="project-box-wrapper">
            <div class="project-box" style="background-color: #c8f7dc;">
              <div class="project-box-header">
                <span>December 10, 2020</span>
                <div class="more-wrapper">
                  <button class="project-btn-more">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-more-vertical">
                      <circle cx="12" cy="12" r="1" />
                      <circle cx="12" cy="5" r="1" />
                      <circle cx="12" cy="19" r="1" /></svg>
                  </button>
                </div>
              </div>
              <div class="project-box-content-header">
                <p class="box-content-header">Data Analysis</p>
                <p class="box-content-subheader">Prototyping</p>
              </div>
              <div class="box-progress-wrapper">
                <p class="box-progress-header">Progress</p>
                <div class="box-progress-bar">
                  <span class="box-progress" style="width: 60%; background-color: #34c471"></span>
                </div>
                <p class="box-progress-percentage">60%</p>
              </div>

            </div>
          </div>
          <div class="project-box-wrapper">
            <div class="project-box" style="background-color: #d5deff;">
              <div class="project-box-header">
                <span>December 10, 2020</span>
                <div class="more-wrapper">
                  <button class="project-btn-more">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-more-vertical">
                      <circle cx="12" cy="12" r="1" />
                      <circle cx="12" cy="5" r="1" />
                      <circle cx="12" cy="19" r="1" /></svg>
                  </button>
                </div>
              </div>
              <div class="project-box-content-header">
                <p class="box-content-header">Web Designing</p>
                <p class="box-content-subheader">Prototyping</p>
              </div>
              <div class="box-progress-wrapper">
                <p class="box-progress-header">Progress</p>
                <div class="box-progress-bar">
                  <span class="box-progress" style="width: 40%; background-color: #4067f9"></span>
                </div>
                <p class="box-progress-percentage">40%</p>
              </div>

            </div>
          </div>
        </div>
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #e9e7fd;">
            <div class="project-box-header">
              <canvas id="MyChart">{{ chart }}</canvas>
            </div>
          </div>

          <!-- <div class="project-box-wrapper">
            <div class="project-box" style="background-color: #e9e7fd;">
              <div class="project-box-header">
                <canvas id="MyChart">{{ chart1 }}</canvas>
              </div>
            </div> -->

