@import "../home/home.component.scss";

.circular { /* need to give parent container equal width and height*/
  margin: auto;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow:hidden;
}
.circular img{
  width:100%;
}
