<div class="container-fluid page">
  <div class=" mt-3 page__content shadow p-3">
    <div class="row">
      <h4 class="banner col-6">Danh sách sản phẩm</h4>
      <div class="col-6">
        <button routerLink="/product-create" class="btn btn-primary text-light mb-2"
          style="margin-left:-50%;float: right;">Thêm mới</button>
      </div>
      <hr style="color:gray">
    </div>
    <div class="title row">
      <div class="col-8">
        <div class="row">
          <div class="col-3"><select class="form-select">
              <option hidden>Trạng thái</option>
              <option value>Tất cả</option>
              <option value="1">Hoạt động</option>
              <option value="2">Ngưng hoạt động</option>
            </select></div>
          <div class="col-3"><select class="form-select">
              <option hidden>Phân loại</option>
              <option value>Tất cả</option>
              <option value="0">Admin</option>
              <option value="1">Khách hàng</option>
              <option value="2">Nhân viên</option>
            </select></div>
        </div>
      </div>
      <div class="col-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Vui lòng nhập..." aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary text-light" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></button>
          </div>
        </div>
      </div>
      <hr>
      <app-spinner *ngIf="show"></app-spinner>
      <nav aria-label="..." style="float: right;">
        <ul class="pagination">
          <li class="page-item">
            <button class=" btn" style="background-color:#0dcaf0">Tổng số lượng: {{totalElememnts}} </button>
          </li>
        </ul>
      </nav>
      <div *ngIf="!show">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ảnh</th>
              <th scope="col">Tên</th>
              <th scope="col">Loại sản phẩm</th>
              <th scope="col">Màu sắc</th>
              <th scope="col">Size</th>
              <th scope="col">Giá(khoảng giá)</th>
              <th>More</th>


            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <td scope="row">{{i+1}}</td>
              <!-- === -->
              <td>
                <div class="circular">
                  <span><img src={{item.images[0]}} alt=""></span>
                </div>
              </td>
              <td class="name" routerLink="/product-create/{{item.id}}">{{item.name}}
              </td>
              <td>{{item.categoryName}}</td>
              <td>
                {{item.colors.length}} màu
              </td>
              <td>{{item.sizes.length}} size</td>
              <td>
                <p *ngIf="item.minPrice==item.maxPrice; else other">
                  {{item.minPrice| currency:'VND' }}
                </p>

                <ng-template #other>
                  {{item.minPrice| currency:'VND' }} - {{item.maxPrice| currency:'VND' }}
                </ng-template>
              </td>
              

              <!-- === -->
              <!-- <td data-bs-target="#exampleModal1" data-bs-toggle="modal" (click)="getItem(item)">
                <span class="badge badge text-bg-info text-light">{{item.status==0?"Hoạt động":""}}</span>
                <span class="badge badge text-bg-secondary">{{item.status==1?"Ngưng hoạt động":""}}</span>
              </td> -->
              <td>
                <div class="dropdown">
                  <a class="btn btn-text-dark" type="text" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-three-dots" viewBox="0 0 16 16">
                      <path
                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                    </svg>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <!-- <li><a class="dropdown-item" routerLink="/product-create/{{item.id}}">Chỉnh sửa</a></li> -->
                    <li><a class="dropdown-item" data-bs-toggle="modal" (click)="getDetailItem(item)"
                        data-bs-target="#exampleModal3">Xem chi tiết</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" (click)="getItem(item)"
                        data-bs-target="#exampleModal">Xóa</a></li>
                      </ul>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
        <!-- Modal XÓA -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có muốn xóa sản phẩm <span style="color:red">{{name}}</span>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" (click)="delete(id)" data-bs-dismiss="modal">Đồng
                  ý</button>
              </div>
            </div>
          </div>
        </div>
        <!------>
        <!-- Modal Xem chi tiết-->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" class="text-center">Ảnh</th>
                      <th scope="col">Màu sắc</th>
                      <th scope="col">Size</th>
                      <th scope="col">Tồn kho</th>
                      <th scope="col">Giá</th>
                      <th>More</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr [(ngModel)]="item.id" #id="ngModel" *ngFor="let item of listItem, let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>
                        <div class="circular">
                          <span><img src={{item.image}} alt=""></span>
                        </div>
                      </td>
                      <td>{{item.colorName}}</td>
                      <td>{{item.sizeName}}</td>
                      <td>{{item.qty}}</td>
                      <td>{{item.price}}</td>
                      <td>
                        <div class="dropdown">
                          <a class="btn btn-text-dark" type="text" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-three-dots" viewBox="0 0 16 16">
                              <path
                                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                            </svg>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark">
                            <!-- <li><a class="dropdown-item" routerLink="/product-create/{{item.id}}">Chỉnh sửa</a></li> -->
                            <li><a class="dropdown-item" data-bs-toggle="modal" (click)="getDetailItem(item)"
                                data-bs-target="#exampleModal3">Chỉnh sửa</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" (click)="getItem(item)"
                                data-bs-target="#exampleModal">Xóa</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-danger" routerLink="/product-create/{{id}}" data-bs-dismiss="modal">Chỉnh sửa</button>
              </div>
            </div>
          </div>
        </div>
        <!------>

        <!-- Modal Change status -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thay đổi trạng thái tài khoản?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có muốn thay đổi trạng thái hoạt động của <span style="color:red">{{name}}</span>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" (click)="delete(id)" data-bs-dismiss="modal">Đồng
                  ý</button>
              </div>
            </div>
          </div>
        </div>
        <!------>

        <!-- Modal Change Role -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thay đổi quyền tài khoản?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có muốn thay đổi quyền của <span style="color:red">{{name}}</span>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" (click)="delete(id)" data-bs-dismiss="modal">Đồng
                  ý</button>
              </div>
            </div>
          </div>
        </div>

        <!------>
        <nav aria-label="..." style="float: right;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link active">Trang hiện tại {{currentPage+1}}/{{totalPage}}</a>
            </li>
            <li class="page-item" *ngFor="let item of numbers">
              <a class="page-link" (click)="change(item-1)">{{item}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ========= -->