<div id="wrapper">
  <img style="width:60%"
    src="https://t4.ftcdn.net/jpg/03/30/51/87/360_F_330518767_Gkkl2yDiHs6Ksik1uTByyqObrDw39nbG.jpg" />
  <h4>Đăng nhập để tiếp tục...</h4>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div id="inputs">
      <div>
        <input type="text" placeholder="tên đăng nhập" formControlName="username" autofocus>
        <div>
          <input type="password" formControlName="password" placeholder="mật khẩu">
          <input class="mt-2" [ngStyle]="{'background-color':loginForm.invalid == true ? 'gray' : '' }"
            type="submit">
        </div>
      </div>
    </div>
    <div id="labels">
    </div>
  </form>
</div>
<div id="hint">@anhcoming</div>