<div class="container-fluid page">
  <div class=" mt-3 page__content shadow p-3">
    <div class="row">
      <h4 class="banner col-6 " style="font-size: 21px;">Danh sách đơn hàng</h4>
      <div class="col-6">
        <!-- <button routerLink="/account-create" class="btn btn-primary text-light mb-2"
          style="margin-left:-50%;float: right;">Thêm mới</button> -->
      </div>
      <hr style="color:gray">
    </div>
    <div class="title row">
      <div class="col-8">
        <div class="row">
          <div class="col-3"><select class="form-select" (change)="searchStatus($event)">
              <option hidden>Trạng thái</option>
              <option value>Tất cả</option>
              <option value="PENDING">Chờ xử lý</option>
              <option value="SHIPPING">Đang giao hàng</option>
              <option value="REJECTED">Bị từ chối</option>
              <option value="ACCEPTED">Đã xác nhận </option>
              <option value="RECEIVED">Đã nhận hàng </option>
              <option value="CANCELED">Đã hủy </option>
            </select></div>
          <div class="col-3"><select class="form-select" (change)="searchFilter($event)">
              <option hidden>Sắp xếp theo</option>
              <option value="null">Mặc định</option>
              <option value="1">Tổng tiền (cao -> thấp)</option>
              <option value="2">Tổng tiền (thấp -> cao)</option>
              <option value="3">Gần đây</option>
              <option value="4">Cũ hơn</option>

            </select></div>
        </div>
      </div>
      <div class="col-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Vui lòng nhập..." aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary text-light" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></button>
          </div>
        </div>
      </div>
      <hr>
      <app-spinner *ngIf="show"></app-spinner>
      <nav aria-label="..." style="float: right;">
        <ul class="pagination">
          <li class="page-item">
            <button class=" btn" style="background-color:#0dcaf0">Tổng số lượng: {{totalElement}} </button>
          </li>
        </ul>
      </nav>
      <div *ngIf="!show">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px;">#</th>
              <!-- <th style="width: 10px;">id</th> -->
              <th style="width: 10px;">Mã</th>
              <th class="col-1">Thời gian đặt</th>
              <th class="col-1">Họ tên</th>
              <th class="col-1">Số điện thoại</th>
              <th class="col-2">Địa chỉ giao</th>
              <th class="col-1">Tổng tiền</th>
              <th>Ghi chú</th>
              <th class="col-1">Phương thức</th>
              <th class="col-3">Trạng thái</th>
              <th>More</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <th style="width: 10px;" scope="row">{{i+1}}</th>
              <!-- <th style="width: 10px;" scope="row">{{item.id}}</th> -->
              <td style="width: 10px;" routerLink="/order-create/{{item.id}}">{{item.code}}
              </td>
              <td class="col-1">{{item.createdDateFmt}}</td>
              <td class="col-1">{{item.customerName}}</td>
              <td class="col-1">{{item.phone}}</td>
              <td class="col-2">{{item.addressCombination}}</td>
              <td>{{item.total}}</td>
              <td class="col-1">{{item.note}}</td>
              <td class="col-1">{{item.payment}}</td>
              <td class="col-3" data-bs-target="#exampleModal1" data-bs-toggle="modal" (click)="getItem(item)">

                <div [ngSwitch]="item.statusCode">
                  <div *ngSwitchCase="'ACCEPTED'">
                    <button class="btn btn-warning">{{item.statusCombination}}</button>
                  </div>
                  <div *ngSwitchCase="'CANCELED'">
                    <button class="btn btn-danger">{{item.statusCombination}}</button>
                  </div>
                  <div *ngSwitchCase="'SHIPPING'">
                    <button class="btn btn-success">{{item.statusCombination}}</button>
                  </div>
                  <div *ngSwitchCase="'PENDING'">
                    <button class="btn btn-warning">{{item.statusCombination}}</button>
                  </div>
                  <div *ngSwitchCase="'REJECTED'">
                    <button class="btn btn-danger">{{item.statusCombination}}</button>
                  </div>
                  <div *ngSwitchCase="'RECEIVED'">
                    <button class="btn btn-primary">{{item.statusCombination}}</button>
                  </div>

                </div>
              </td>
              <td>
                <div class="dropdown">
                  <a routerLink="/order-detail/{{item.id}}" class="btn btn-text-dark" type="text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                      viewBox="0 0 16 16">
                      <path
                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                      <path
                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                    </svg>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
        <!-- Modal XÓA -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa đơn hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có muốn xóa đơn hàng #<span style="color:red">{{id}}</span>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" (click)="delete(id)" data-bs-dismiss="modal">Đồng
                  ý</button>
              </div>
            </div>
          </div>
        </div>
        <!------>

        <!-- Modal Change status -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 18px;">Thay đổi trạng thái đơn hàng
                  {{id}} ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div style="font-size: 16px;" [formGroup]="noteForm" class="modal-body"
                *ngIf="statusOrder=='ACCEPTED'||statusOrder=='SHIPPING'||statusOrder=='PENDING' else other">
                1. Lý do chỉnh sửa (không bắt buộc)
                <br>
                <br>
                <textarea formControlName="note" class="form-control" placeholder="Nhập...">

                </textarea>
                <br>
                2. Chọn trạng thái mới cho đơn hàng.
                <br>
                <br>
                <!-- {{statusOrder}} -->
                <div *ngIf="statusOrder=='PENDING'">
                  <button style="font-size: 15px;" type="button" class="btn btn-success"
                    (click)="changeStatusOrder('ACCEPTED')" data-bs-dismiss="modal">CHẤP
                    NHẬN</button> &nbsp;
                  <button style="font-size: 15px;" type="button" class="btn btn-danger"
                    (click)="changeStatusOrder('REJECTED')" data-bs-dismiss="modal">TỪ
                    CHỐI</button> &nbsp;
                </div>
                <div *ngIf="statusOrder=='ACCEPTED'">
                  <button style="font-size: 15px;" type="button" class="btn btn-success"
                    (click)="changeStatusOrder('SHIPPING')" data-bs-dismiss="modal">Bắt đầu giao hàng</button> &nbsp;
                </div>
                <div *ngIf="statusOrder=='SHIPPING'">
                  <button style="font-size: 15px;" type="button" class="btn btn-primary"
                    (click)="changeStatusOrder('RECEIVED')" data-bs-dismiss="modal">Khách hàng
                    đã nhận</button> &nbsp;
                  <button style="font-size: 15px;" type="button" class="btn btn-danger"
                    (click)="changeStatusOrder('REJECTED')" data-bs-dismiss="modal">Khách hàng
                    từ
                    chối nhận</button> &nbsp;
                </div>

              </div>
              <div class="modal-footer">

              </div>
              <ng-template #other>
                <div class="modal-body">
                  <div *ngIf="statusOrder=='RECEIVED'">
                    <button class="btn btn-success">
                      Khách hàng đã nhận hàng thành công
                    </button>
                  </div>
                  <div *ngIf="statusOrder=='REJECTED'||statusOrder=='CANCELED'">
                    <button class="btn btn-danger"> {{statusCombination}}</button>
                  </div>
                </div>
              </ng-template>

              <!-- <div class="modal-footer">
                
              </div> -->
            </div>
          </div>
        </div>
        <!------>

        <!-- Modal Change For Sure -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn từ chối đơn hàng của khách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" (click)="delete(id)" data-bs-dismiss="modal">Đồng
                  ý</button>
              </div>
            </div>
          </div>
        </div>
        <!------>
        <!------>
        <nav aria-label="..." style="float: right;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link active">Trang hiện tại {{currentPage+1}}/{{totalPage}}</a>
            </li>
            <li class="page-item" *ngFor="let item of numbers">
              <a class="page-link" (click)="change(item-1)">{{item}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ========= -->