<div class="container-fluid page">
  <div class=" mt-3 page__content shadow p-3">
    <div class="row">
      <h4 class="banner"><svg routerLink="/size" xmlns="http://www.w3.org/2000/svg" width="50" height="30"
          fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
        </svg>Thêm mới sản phẩm</h4>
      <hr style="color:gray">
    </div>
    <app-spinner *ngIf="show"></app-spinner>
    <form [formGroup]="productForm">
      <div class="title row" style="width:90%;margin: auto;">
        <div class="col-8">
          <div class="col-12">
            Tên sản phẩm <input type="text" class="form-control mb-2" placeholder="" formControlName="size">
          </div>
          <div class="row">
            <div class="col-6 mt-2">
              Loại sản phẩm<select class="form-control">
                <option hidden>----</option>
                <option *ngFor="let item of category" value="{{item.id}}">{{item.name}}</option>
              </select>
            </div>
            <div class="col-6 mt-2">
              Thương hiệu<select class="form-control">
                <option hidden>----</option>
                <option *ngFor="let item of brand" value="{{item.id}}">{{item.name}}</option>
              </select>
            </div>
          </div>

          <div class="col-12 mt-2">
            Màu sắc
            <ng-multiselect-dropdown [placeholder]="'----'" [settings]="dropdownSettingsColor"
              [data]="dropdownListColor" formControlName="color" [(ngModel)]="selectedItemsColor"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>

          <div class="col-12 mt-2">
            Kích cỡ
            <ng-multiselect-dropdown [placeholder]="'----'" [settings]="dropdownSettingsSize" [data]="dropdownListSize"
              [(ngModel)]="selectedItemsSize" formControlName="size" (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>

          <div class=" row mt-2">
           <div class="col-6">
            Giá chung
            <input class="form-control" type="number" placeholder="000.000 VND" formControlName="price">
           </div>
           <div class="col-6">
            Số lượng chung
            <input class="form-control" type="number" placeholder="0" formControlName="quantity">
           </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row" style="height:100px">
            Ảnh <input type="file">
          </div>
          <div class="row">
            Mô tả chung
            <textarea class="col-12" style="height:150px"></textarea>
          </div>
        </div>
        <div class="mt-3 align-content-between">
          <button class="btn btn-primary" (click)="getData()">
            Cập nhật dữ liệu mẫu
          </button>
        </div>

        <div>
          <table class="mt-3 table table-bordered">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Màu sắc</th>
                <th scope="col">Size</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Xóa</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of arr1,let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.color.color}}</td>
                <td>{{item.size.size}}</td>
                <td><input aria-label="quantity" class="input-qty" min="10000" name="" type="number" value="{{item.price}}"></td>
                <td><input aria-label="quantity" class="input-qty" min="1" name="" type="number" value="{{item.quantity}}"></td>
                <td><input type="file"></td>
                <td><svg style="color:rgb(255, 81, 81)" xmlns="http://www.w3.org/2000/svg" width="26" height="20"
                    fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                  </svg></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="mt-2 align-content-between">
          <button class="btn btn-primary" type="submit" [disabled]="show">
            <span *ngIf="show" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Cập nhật
          </button>
          <button class="btn btn-outline-secondary" (click)="reset()">Làm
            mới</button>
        </div> -->

      </div>
    </form>
  </div>
</div>
